<!-- filepath: src/app/pages/preventivi/ncc/ncc.component.html -->
<section class="ncc-container">
    <div class="ncc-header">
        <h2>Noleggio con Conducente</h2>
        <p>Richiedi un preventivo personalizzato</p>
    </div>

    <div class="ncc-form-wrapper">
        <form [formGroup]="nccForm" (ngSubmit)="onSubmit()">
            
            <!-- Date Picker -->
            <div class="form-grid">
                <label for="period">Seleziona il range di noleggio</label>
                <br>
                <p-datepicker
                dateFormat="dd/mm/yy"
                class="dp" 
                formControlName="period"
                selectionMode="range" 
                [readonlyInput]="true" />
                
            </div>

        <!-- Buttons -->
            <div class="form-actions">
                <button 
                    pButton 
                    type="button" 
                    label="Indietro"
                    routerLink="/preventivi"
                    class="p-button-outlined">
                    <i class="pi pi-arrow-left"></i>
                </button>
                <button 
                    pButton 
                    type="submit" 
                    label="Avanti 1/3"
                    class="p-button"
                    [disabled]="!nccForm.valid">
                </button>
            </div>
        </form>
    </div>
</section>
