<section class="hero">
  <div class="hero-inner">
    <div class="hero-media">
      <img class="logo" src="assets/Logo.png" alt="F.lli Brutti" />
    </div>
    <div class="hero-content">
      <h1>F.lli Brutti</h1>
      <p>Noleggio con conducente e Movimento Terra</p>
      <div class="hero-buttons">
        
        <a pButton type="button" label="Richiedi Preventivo" routerLink="/preventivi" class="p-button-secondary"></a>
        <br>
        <a pButton type="button" label="Login Admin" routerLink="/login" class="p-button-help"></a>
      </div>
    </div>
  </div>
</section>
